/* Björn Hrannar Johnson */
body {
  margin: 0;
}

video {
  width: 100%;
  height: auto%;
}

#vid_size_2,
#vid_size_3 {
  display: none;
}

@media (min-width: 360px) and (max-width: 720px) {
  #vid_size_1,
  #vid_size_3 {
    display: none;
  }
  #vid_size_2 {
    display: block;
  }
}

@media (min-width: 721px ) {
  #vid_size_1,
  #vid_size_2 {
    display: none;
  }
  #vid_size_3 {
    display: block;
  }
}
